.lldb-run
*.dSYM
*.o
*.q
*.tar.gz
.DS_Store
.git
.gitignore
.triplestore-history
MANIFEST.SKIP
MYMETA.json
MYMETA.yml
Makefile
MemoryTripleStore.c
afl-plot
bench.pl
blib
findings
fuzz*
lib/.DS_Store
lib/AtteanX/.DS_Store
lib/AtteanX/MemoryTripleStore/.DS_Store
pm_to_blib
server
server.dSYM
test.pl
trees.ttl
ts
ts.dSYM
runner
runner.c

*.nt
*.ttl
dbpedia*.bz2
dbpedia*.db
dbpedia-1M.nt
dbpedia-5M.nt
empty.nt
test.db
test.nt
test
test*.pl